.orders-body {
    min-height: 100vh;
    background: linear-gradient(-90deg, #FE8D1F, #FFC25A);
    padding: 1rem 0;
}

.order {
    background-color: white;
    margin: 1rem 2rem;
    border-radius: .5rem;
    padding: 1rem;
}

.order-main p {
    font-weight: bold;
    margin: 0;
}

.order-main {
    border-style: solid;
    border-width: 0 0 1px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-main img {
    height: 5rem;
}

.order-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order-body p {
    margin: 0;
}

.order-status {
    padding: .25rem .4rem;
    border-radius: .3rem;
    color: white;
    font-size: small;
    font-weight: bold;
}